.storybanner-sec {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/images/hero.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-color: var(--backgroundcolor);
  padding: 0px 80px;
  padding-bottom: 20px;
  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1250px;
    margin: 0px auto;
    margin-top: auto;

    .headings {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      row-gap: 10px;
      .banner-img {
        max-width: 750px;
        max-height: 477px;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .storybanner-sec {
    .inner {
      .headings {
        .banner-img {
          max-width: 600px;
          max-height: 500px;
        }
      }
    }
  }
}

@media screen and (max-width: 980px) {
  .storybanner-sec {
    padding: 0px 20px;
    padding-bottom: 30px;
    background-position: center;
    background-size: cover;
    align-items: center;
    height: 80vh;

    .inner {
      margin-top: unset;
      .headings {
        div {
          display: flex;
          flex-direction: column;
          row-gap: 10px;
        }
        .banner-img {
          max-width: 250px;
          max-height: 250px;
        }
      }
    }
  }
}
