.inputClass{
    border-radius: 10px;
    background: #f9f9f9;
    padding: 12px 20px;
    color: var(--dark-color);
    outline: none;
    border: none;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 162.5%;
    
}