.guildwildlands {
  background-color: var(--backgroundcolor);
  background-image: url("/assets/images/ecobrainback.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 80px;
  .content {
    padding-top: 74px;
    max-width: 1320px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    row-gap: 74px;
    align-items: center;
    justify-content: center;

    .bottom {
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
      .ist,
      .second,
      .third,
      .forth,
      .fifth {
        position: absolute;
        border-radius: 18.423px;
        border: 1px solid #fff;
        background: linear-gradient(
          270deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(153, 153, 153, 0.26) 100%
        );
        backdrop-filter: blur(38.8814811706543px);
        padding: 20px 27px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 6px;
        width: 491px;

        h4,
        p {
          text-align: center;
          line-height: normal;
        }
      }
      img {
        max-width: 443.068px;
        max-height: 646px;
        object-fit: cover;
        width: 100%;
        height: 100%;
        animation: brightnessAnimation 3s infinite;
        animation-timing-function: ease;
      }
      .ist {
        top: 50px;
        left: 35px;
        &::after {
          content: url("/assets/images/wildlands/ist.webp");
          position: absolute;
          right: -65px;
          top: 37px;
        }
      }
      .third {
        top: 220px;
        left: -95px;
        &::after {
          content: url("/assets/images/wildlands/third.webp");
          position: absolute;
          right: -55px;
          top: 67px;
        }
      }
      .fifth {
        bottom: 40px;
        left: 0px;
        &::after {
          content: url("/assets/images/wildlands/fifth.webp");
          position: absolute;
          right: -50px;
          bottom: 14px;
        }
      }
      .second {
        top: 90px;
        right: 25px;
        &::after {
          content: url("/assets/images/wildlands/second.webp");
          position: absolute;
          left: -46px;
          top: 24px;
        }
      }
      .forth {
        bottom: 114px;
        right: -95px;
        &::after {
          content: url("/assets/images/wildlands/forth.webp");
          position: absolute;
          left: -90px;
          top: 67px;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .guildwildlands {
    padding: 80px;
    .content {
      max-width: 1100px;
      padding-top: 50px;
      row-gap: 50px;
      .bottom {
        .ist,
        .second,
        .third,
        .forth,
        .fifth {
          padding: 15px 20px;
          width: 420px;

          p {
            font-size: 15px;
          }
        }
        img {
          max-width: 400px;
          max-height: 570px;
        }
        .ist {
          left: -70px;
          &::after {
            top: 40px;
          }
        }
        .third {
          top: 190px;
          left: -70px;
          &::after {
            top: 50px;
          }
        }
        .fifth {
          bottom: 0;
          left: -70px;
          &::after {
            bottom: 50px;
          }
        }
        .second {
          right: -70px;
          &::after {
            left: -76px;
            top: 50px;
          }
        }
        .forth {
          bottom: 80px;
          right: -70px;
          &::after {
            position: absolute;
            top: 50px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .guildwildlands {
    .content {
      max-width: 800px;
      .bottom {
        .ist,
        .second,
        .third,
        .forth,
        .fifth {
          padding: 15px 20px;
          width: 330px;
          h4 {
            font-size: 18px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 980px) {
  .guildwildlands {
    padding: 20px;
    background-image: unset;
    .content {
      padding-top: 20px;
      width: 100%;
      row-gap: 20px;

      .top {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
      }
      .bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        width: 100%;
        .ist,
        .second,
        .third,
        .forth,
        .fifth {
          position: unset;
          border-radius: 18.423px;
          border: 1px solid #fff;
          background: linear-gradient(
            270deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(153, 153, 153, 0.26) 100%
          );
          backdrop-filter: blur(38.8814811706543px);
          padding: 15px 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 6px;
          width: 100%;

          h4,
          p {
            text-align: center;
            line-height: normal;
          }
        }
        img {
          max-width: 400px;
          max-height: unset;
          object-fit: cover;
        }
        .ist,
        .second,
        .third,
        .forth,
        .fifth {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}
@keyframes brightnessAnimation {
  0% {
    filter: brightness(0.7);
  }
  50% {
    filter: brightness(1.2);
  }
  100% {
    filter: brightness(0.7);
  }
}
