.slick-list {

height: 700px!important;
}
.slick-track{
    height: 100%!important;
}
.slick-slide{
    height: 100%!important;
}
.slick-slide >div{
    // background-color: pink;
    height: 100%!important;
}