.loresaga-sec {
  background: url("/assets/images/loresaga.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 82px 80px 52px 80px;
  .inner {
    max-width: 1290px;
    margin: 0px auto;
  }
}

@media screen and (max-width: 980px) {
  .loresaga-sec {
    padding: 20px;
    .inner {
      width: 100%;
    }
  }
}
